<div class="row mt-4 mb-4">
  <div class="col-md-8 offset-2">
    <h1 class="title text-center">Toutes les soirées à venir 🎲 </h1>
    <p style="color:#ea526f;"class="text-center"> Rejoins ta future gamenight! </p>
  </div>
</div>


<div class="row">
  <div class="col-md-6 pr-0">
    <div class="cards">
    <% @gamenight_geocoded.each do |gamenight| %>
      <% if (gamenight.date > Time.now.to_date) && (gamenight.boardgame.players_max > gamenight.participations.size) %>
        <%= link_to gamenight_path(gamenight) do %>
          <div class="card">
            <% gamenight_image = gamenight.boardgame.photo.attached? ? cl_image_path(gamenight.boardgame.photo.key) : image_path("game-card.png") %>
            <div class="card-image" style="background-image: url(<%= gamenight_image %>)">
              <p class="category-tag"><%= gamenight.boardgame.category %></p>
              <% if gamenight.boardgame.user.photo.attached? %>
              <%= cl_image_tag gamenight.boardgame.user.photo.key, crop: :fill, class: "avatar-card" %>
              <% else %>
              <%= image_tag "avatar.jpg", crop: :fill, class: "avatar-card" %>
              <% end %>
            </div>
            <div class="card-text">
              <h2><%= gamenight.boardgame.name %></h2>
              <span class="date"><%= gamenight.date.strftime("Le %d-%m-%Y") %></span>
              <p><%= gamenight.description %></p>
            </div>
            <div class="card-stats">
              <div class="stat">
                <div class="value"><i class="fas fa-user-friends"></i></div>
                <div class="type"><%= gamenight.boardgame.players_max %></div>
              </div>
              <div class="stat2">
                <div class="value"><i class="fas fa-clock"></i></div>
                <div class="type"><%= gamenight.start_time.strftime("%H:%M") %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% elsif (gamenight.date == Time.now.to_date) && (gamenight.start_time.hour - 2 >= Time.now.hour) && (gamenight.boardgame.players_max > gamenight.participations.size) %>
        <%= link_to gamenight_path(gamenight) do %>
        <div class="card">
          <% gamenight_image = gamenight.boardgame.photo.attached? ? cl_image_path(gamenight.boardgame.photo.key) : image_path("game-card.png") %>
          <div class="card-image" style="background-image: url(<%= gamenight_image %>)">
            <p class="category-tag"><%= gamenight.boardgame.category %></p>
            <% if gamenight.boardgame.user.photo.attached? %>
            <%= cl_image_tag gamenight.boardgame.user.photo.key, crop: :fill, class: "avatar-card" %>
            <% else %>
            <%= image_tag "avatar.jpg", crop: :fill, class: "avatar-card" %>
            <% end %>
          </div>
          <div class="card-text">
            <h2><%= gamenight.boardgame.name %></h2>
            <span class="date"><%= gamenight.date.strftime("Le %d-%m-%Y") %></span>
            <p><%= gamenight.description %></p>
          </div>
          <div class="card-stats">
            <div class="stat">
              <div class="value"><i class="fas fa-user-friends"></i></div>
              <div class="type"><%= gamenight.boardgame.players_max %></div>
            </div>
            <div class="stat2">
              <div class="value"><i class="fas fa-clock"></i></div>
              <div class="type"><%= gamenight.start_time.strftime("%H:%M") %></div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="col-md-6 pl-0">
    <div
      id="map"
      style="
      width: 100%;
      flex-grow: 1;
      position: sticky;
      top: 0;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

</div>



