<div class="container mt-5 mb-4">
  <div class="row row-design position-relative mb-5">
    <div class="card-big col-4">
      <div class="card-img">
        <% if @boardgame.photo.attached? %>
        <%= cl_image_tag @boardgame.photo.key, class: "gamenight-show-image" %>
        <% else %>
        <%= image_tag "game-card.png", class: "gamenight-show-image" %>
        <% end %>


        <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "avatar3", id: "show-gamenight" %>
        <% else %>
        <%= image_tag "avatar.jpg", class: "avatar3", id: "show-gamenight" %>
        <% end %>



      </div>
    </div>
    <div class="col-8">
      <div class="games-specs row justify-content-between align-items-center">
        <h2 class="gamename"><%= @boardgame.name %></h2>
        <h6 class="username"><%= link_to @user.username.capitalize, profil_path(@user) %>'s GameNight</h6>
        <h6 class="joueurs"><%= @boardgame.players_min %> - <%= @boardgame.players_max %> joueurs</h6>
      </div>
      <div class="row gamenight-elements">
        <div class="description col-8">
          <p>Description : <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<%= @boardgame.description.capitalize %></p>
        </div>
        <div class="row align-items-end col-4">
          <div class="button-participation offset-3"><% if (@gamenight.date > Time.now.to_date) && (@boardgame.players_max > @participations.size)  %>
            <%= link_to 'Participer', gamenight_participations_path(@gamenight), method: :post, data: { confirm: "Participation prise en compte"} %>
              <% elsif @gamenight.date < Time.now.to_date %>
                <p><strong>Participations fermées</strong></p>
              <% elsif (@gamenight.date == Time.now.to_date) && (@gamenight.start_time.hour - 2 >= Time.now.hour) && (@boardgame.players_max > @participations.size) %>
                <%= link_to 'Participer', gamenight_participations_path(@gamenight), method: :post, data: { confirm: "Participation prise en compte"} %>
              <% else %>
                <p><strong>Participations fermées</strong></p>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="row position-relative">
    <div class= "participants-tile">
      <div class="mr-5">
        <h3>Participants déjà inscrits :</h3>
      </div>
      <% if @participations.length == 0 %>
      <div class="mr-5">
        <h3>Aucun</h3>
      </div>
      <% else %>
        <% @participations.each do |participation| %>
          <div class="mr-5 participants-profil">
            <% if participation.user.photo.attached? %>
              <%= link_to profil_path(participation.user) do %>
              <div>
                <%= cl_image_tag participation.user.photo.key, crop: :fill, class: "avatar1" %>
              </div>
              <% end %>
            <% else %>
              <%= link_to profil_path(participation.user) do %>
              <div>
                <%= image_tag "avatar.jpg", crop: :fill, class: "avatar1" %>
              </div>
              <% end %>
            <% end %>
            <% if participation.user.username %>
            <div>
              <%= participation.user.username %>
            </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
