<!-- <h1>view show gamenights</h1>

<h2>Date : <%= @gamenight.date %></h2>
<h3><%= @gamenight.start_time.strftime("de %H:%M") %> <%= @gamenight.end_time.strftime("à %H:%M") %></h3>
<p>à <%= @location.address %></p>
<p>organisé par <%= link_to @user.username, profil_path(@user) %>
  <% if @user.global_rating %>
    (<%= @user.global_rating %>)
  <% else %>
    (nouveau membre)
  <% end %>
</p>

<p>avec le jeu <%= @boardgame.name %></p>
<p>type : <%= @boardgame.category %></p>
<p>tranche d'âge : <%= @boardgame.age %></p>
<p>de <%= @boardgame.players_min %> à <%= @boardgame.players_max %> joueurs</p>
<p>description du jeux : <%= @boardgame.description %></p>

<p>description de la soirée : <%= @gamenight.description %></p>
<br>

<% if (@gamenight.date > Time.now.to_date) && (@boardgame.players_max > @participations.size)  %>
  <%= link_to 'Participer', gamenight_participations_path(@gamenight), method: :post, data: { confirm: "Participation prise en compte"} %>
<% elsif @gamenight.date < Time.now.to_date %>
  <p><strong>Participations closes</strong></p>
<% elsif (@gamenight.date == Time.now.to_date) && (@gamenight.start_time.hour - 2 >= Time.now.hour) && (@boardgame.players_max > @participations.size) %>
  <%= link_to 'Participer', gamenight_participations_path(@gamenight), method: :post, data: { confirm: "Participation prise en compte"} %>
<% else %>
  <p><strong>Participations closes</strong></p>
<% end %> -->

<div class="container mt-3 mb-3">
  <div class="row row-design position-relative">
    <div class="card-big col-4">
      <div class="card-img">
        <img src="http://unsplash.it/200/120/?random" alt="" class="gamenight-show-image">
        <img class="avatar3" id="show-gamenight" alt="avatar1" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      </div>
    </div>
    <div class="col-8">
      <div class="games-specs row justify-content-between align-items-center">
        <h2 class="gamename"><%= @boardgame.name %></h2>
        <h6 class="username"><%= link_to @user.username.capitalize, profil_path(@user) %>'s GameNight</h6>
        <h6 class="joueurs"><%= @boardgame.players_min %> - <%= @boardgame.players_max %> joueurs</h6>
      </div>
      <div class="row">
        <div class="description col-8">
          <p>Description : <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<%= @boardgame.description.capitalize %></p>
        </div>
        <div class="row align-items-end col-4">
          <div class="button3 offset-3"><% if (@gamenight.date > Time.now.to_date) && (@boardgame.players_max > @participations.size)  %>
            <%= link_to 'Participer', gamenight_participations_path(@gamenight), method: :post, data: { confirm: "Participation prise en compte"} %>
              <% elsif @gamenight.date < Time.now.to_date %>
                <p><strong>Participations closes</strong></p>
              <% elsif (@gamenight.date == Time.now.to_date) && (@gamenight.start_time.hour - 2 >= Time.now.hour) && (@boardgame.players_max > @participations.size) %>
                <%= link_to 'Participer', gamenight_participations_path(@gamenight), method: :post, data: { confirm: "Participation prise en compte"} %>
              <% else %>
                <p><strong>Participations closes</strong></p>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="card-big">
    <div class="card-img">
      <img src="http://unsplash.it/200/120/?random" alt="" class="gamenight-show-image">
      <img class="avatar3" id="show-gamenight" alt="avatar1" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
    </div> -->
<!-- <div class="games-specs">
  <div class="row d-flex justify-content-between offset-4">
    <h2 class="gamename"><%= @boardgame.name %></h2>
    <h6 class="username"><%= @user.username.capitalize %>'s GameNight</h6>
    <h6 class="joueurs"><%= @boardgame.players_min %> - <%= @boardgame.players_max %> joueurs</h6>
  </div> -->
<!-- <div class="description">
  <p>Description : <br> <%= @boardgame.description.capitalize %></p>
  <div class="button3 d-flex offset-9"><% if (@gamenight.date > Time.now.to_date) && (@boardgame.players_max > @participations.size)  %>
    <%= link_to 'Participer', gamenight_participations_path(@gamenight), method: :post, data: { confirm: "Participation prise en compte"} %>
      <% elsif @gamenight.date < Time.now.to_date %>
        <p><strong>Participations closes</strong></p>
      <% elsif (@gamenight.date == Time.now.to_date) && (@gamenight.start_time.hour - 2 >= Time.now.hour) && (@boardgame.players_max > @participations.size) %>
        <%= link_to 'Participer', gamenight_participations_path(@gamenight), method: :post, data: { confirm: "Participation prise en compte"} %>
      <% else %>
        <p><strong>Participations closes</strong></p>
      <% end %>
  </div>
</div> -->

