<h1>view show gamenights</h1>

<h2>Date : <%= @gamenight.date %></h2>
<h3><%= @gamenight.start_time.strftime("de %H:%M") %> <%= @gamenight.end_time.strftime("à %H:%M") %></h3>
<p>à <%= @location.address %></p>
<p>organisé par <%= @user.username %> (<%= @user.global_rating %>)</p>

<p>avec le jeu <%= @boardgame.name %></p>
<p>type : <%= @boardgame.category %></p>
<p>tranche d'âge : <%= @boardgame.age %></p>
<p>de <%= @boardgame.players_min %> à <%= @boardgame.players_max %> joueurs</p>
<p>description du jeux : <%= @boardgame.description %></p>

<p>description de la soirée : <%= @gamenight.description %></p>
<br>
<%= link_to 'Participer', gamenight_participations_path(@gamenight), method: :post %>
