<div class="container">

  <h1 class="mt-4 mb-4 title">Mon dashboard</h1>

  <div class="row">

    <!-- Profil card -->
    <div class="col-md-4 tagcloud profil">
      <div class="dashboard-profil-tile">
        <img class="avatar-profil" alt="avatar-profil" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
        <h3><% @user.username %></h3>
        <div class="user-scoring">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="user-details">
          <div>
            <p><i class="fas fa-map-pin"><%= @my_locations.length %></i></p>
            <p>Games</p>
          </div>
          <div>
            <p><i class="fas fa-puzzle-piece"><%= @my_boardgames.length %></i></p>
            <p>locations</p>
          </div>
        </div>
        <div class="profil-links">
          <%= link_to 'Modifier', edit_user_registration_path(@user), class: "link" %>
          <%= link_to 'Gamenights', gamenights_path, class: "link" %>
        </div>
      </div>
    </div>
    <!-- end -->

    <!-- Gamenight related cards -->
    <div class="col-md-8 tagcloud" id="gamenight-area">

      <!-- game card -->
      <div class="dashboard-game-tile">
        <h2>Mes jeux</h2>
        <% @my_boardgames.each do |boardgame| %>
        <a href="#" class="tag" data-toggle="modal" data-target="#modal"><%= boardgame.name %></a>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" id="game-modal">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= boardgame.name %></h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p><%= boardgame.description %></p>
                <p><%= boardgame.category %></p>
              </div>
              <div class="modal-details">
                <i class="fas fa-user-friends"> <%= boardgame.players_min %>-<%= boardgame.players_max %></i>
                <i class="fas fa-exclamation-circle"> +<%= boardgame.age %>ans</i>
              </div>
              <div class="modal-footer">
                <%= link_to 'Supprimer', boardgame_path(boardgame), class: "game-modal-button", method: :delete, data: { confirm: "Vous êtes sûr ?"} %>
                <%= link_to 'Editer', edit_boardgame_path(boardgame), class: "game-modal-button" %>
              </div>
            </div>
          </div>
        </div>

        <% end %>
        <%= link_to new_boardgame_path do %>
          <p class="new-tag">Ajouter un jeu <i class="fas fa-plus"></i></p>
        <% end %>
      </div>

      <!-- location card -->
      <div class="dashboard-location-tile">
        <h2>Mes Lieux</h2>
        <% @my_locations.each do |location| %>
        <a href="#" class="tag" data-toggle="modal" data-target="#modal2"><%= location.name %>s</a>
          <%= link_to 'Supprimer le jeu', location_path(location), method: :delete, data: { confirm: "Vous êtes sûr ?"} %> <i class="far fa-trash-alt"></i>
        <% end %>
          <%= link_to new_location_path do %>
            <p class="new-tag-location">Ajouter un lieu <i class="fas fa-plus"></i></p>
        <% end %>
      </div>

      <!-- Gamenight creation link -->
      <%= link_to 'Créer gamenight', new_gamenight_path, class: "link-main text-center" %>
    </div>
  </div>
  <!-- end -->

</div>

<br>
<% @my_locations.each do |location| %>
  <%= location.name %>
  <%= link_to "Modifier l'adresse", edit_location_path(location) %> <i class="fas fa-pencil-alt"></i>
  <%= link_to "Supprimer l'adresse", location_path(location), method: :delete, data: { confirm: "Vous êtes sûr ?"} %> <i class="far fa-trash-alt"></i>
<% end %>
<br>

<% if @gamenights_owner %>
  <% @gamenights_owner.each do |gamenights| %>
    <% gamenights.each do |gamenight| %>
      <p>Le <%= gamenight.date %></p>
      <p><%= gamenight.start_time.strftime("de %H:%M") %> <%= gamenight.end_time.strftime("à %H:%M") %></p>
      <%= link_to "Voir plus...", gamenight_path(gamenight) %>
      <%= link_to 'Modifier la soirée', edit_gamenight_path(gamenight) %> <i class="fas fa-pencil-alt"></i>
      <%= link_to 'Supprimer la soirée', gamenight_path(gamenight), method: :delete, data: { confirm: "Vous êtes sûr ?"} %> <i class="far fa-trash-alt"></i>
    <% end %>
  <% end %>
<% end %>
<br>

<% @my_participations.each do |participation| %>
  <%= participation.gamenight.boardgame.name %>
  <% if participation.gamenight.date < Time.now.to_date %>
    <%= link_to 'Note la soirée', edit_participation_path(participation) %>
  <% elsif participation.gamenight.date > Time.now.to_date %>
    <%= link_to 'Se désinscrire', participation_path(participation), method: :delete, data: { confirm: "Vous êtes sûr ?"} %> <i class="far fa-trash-alt"></i>
  <% elsif (participation.gamenight.date == Time.now.to_date) && (participation.gamenight.start_time.hour - 2 > Time.now.hour) %>
    <%= link_to 'Se désinscrire', participation_path(participation), method: :delete, data: { confirm: "Vous êtes sûr ?"} %> <i class="far fa-trash-alt"></i>
  <% else %>
    <p></p>
  <% end %>
<% end %>
