<div class="container">
  <div class="row mt-5">
    <!-- Profil card -->
    <div class="col-md-4 tagcloud profil">
      <div class="dashboard-profil-tile">
        <img class="avatar-profil" alt="avatar-profil" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
        <h3><%= @user.username %></h3>
        <div class="user-scoring">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="user-details mt-4">
          <div class="specs">
            <i class="fas fa-map-pin"> <%= @my_locations.length %></i>
            <p>locations</p>
          </div>
          <div class="specs">
            <i class="fas fa-puzzle-piece"> <%= @my_boardgames.length %></i>
            <p>Games</p>
          </div>
        </div>
        <div class="profil-links">
          <%= link_to 'Modifier', edit_user_registration_path(@user), class: "link" %>
          <%= link_to 'Gamenights', gamenights_path, class: "link" %>
        </div>
      </div>
    </div>
    <!-- end -->

    <!-- Gamenight related cards -->
    <div class="col-md-8 tagcloud" id="gamenight-area">
      <!-- game card -->
      <div class="dashboard-game-tile">
        <h2>Mes jeux</h2>
        <div id="tags">
          <% @my_boardgames.each do |boardgame| %>
            <a href="#" class="tag" data-toggle="modal" data-target="#<%= boardgame.name %>"><%= boardgame.name %></a>
          <% end %>
          <% @my_boardgames.each do |boardgame| %>
          <div class="modal fade" id="<%= boardgame.name %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" id="game-modal">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%= boardgame.name %></h5>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><%= boardgame.description %></p>
                  <p><%= boardgame.category %></p>
                </div>
                <div class="modal-details">
                  <i class="fas fa-user-friends"> <%= boardgame.players_min %>-<%= boardgame.players_max %></i>
                  <i class="fas fa-exclamation-circle"> +<%= boardgame.age %>ans</i>
                </div>
                <div class="modal-footer">
                  <%= link_to 'Supprimer', boardgame_path(boardgame), class: "game-modal-button", method: :delete, data: { confirm: "Vous êtes sûr ?"} %>
                  <%= link_to 'Editer', edit_boardgame_path(boardgame), class: "game-modal-button" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <%= link_to new_boardgame_path do %>
            <p class="new-tag">Ajouter un jeu <i class="fas fa-plus"></i></p>
          <% end %>
        </div>
      </div>
      <!-- location card -->
      <div class="dashboard-location-tile">
        <h2>Mes lieux</h2>
        <div id="tags">
          <% @my_locations.each do |location| %>
          <a href="#" class="tag-location" data-toggle="modal" data-target="#<%= location.name %>"><%= location.name %></a>
          <div class="modal fade" id="<%= location.name %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" id="game-modal">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%= location.name %></h5>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><%= location.address %></p>
                </div>
                <div class="modal-footer">
                  <%= link_to 'Supprimer', location_path(location), class: "location-modal-button", method: :delete, data: { confirm: "Vous êtes sûr ?"} %>
                  <%= link_to 'Editer', edit_location_path(location), class: "location-modal-button" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <%= link_to new_location_path do %>
            <p class="new-tag-location">Ajouter un lieu <i class="fas fa-plus"></i></p>
          <% end %>
        </div>
      </div>
      <!-- Gamenight creation link -->
      <%= link_to 'Créer gamenight', new_gamenight_path, class: "link-main text-center" %>
    </div>
  </div>
  <!-- end -->

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills mt-4" id="dashboard-nav" role="tablist">
        <li class="tab-item active">
          <a class="active text-center" id="gamenight-tab" data-toggle="pill" href="#gamenights" role="tab" aria-controls="gamenights" aria-selected="true" border="0">
          <h3>Mes gamenights</h3>
          <p>Vous avez <%= @gamenights_owner.length %> gamenights à venir</p>
          </a>
        </li>
        <li class="tab-item">
          <a class="text-center" id="participation-tab" data-toggle="pill" href="#participations" role="tab" aria-controls="participations" aria-selected="false" border="0">
          <h3>Mes participations</h3>
          <p>Vous avez <%= @my_participations.length %> participations à venir</p>
          </a>
        </li>
      </ul>

      <div class="tab-content" id="dashboard-tabContent">

        <div class="tab-pane fade show active" id="gamenights" role="tabpanel" aria-labelledby="gamenights-tab">
          <ul class="list-unstyled">
            <% if @gamenights_owner.length >= 1 %>
              <% @gamenights_owner.each do |gamenight| %>
                <li class="gamenight">
                  <div class="gamenight-upvote text-center">
                    <i class="fas fa-user-friends"></i>
                    <p><%= gamenight.boardgame.players_max %></p>
                  </div>
                  <img src="http://unsplash.it/200/120/?random" alt="" class="gamenight-image img-rounded">
                  <div class="gamenight-description">
                    <h3><%= gamenight.boardgame.name %></h3>
                    <p><i class="far fa-calendar-alt"> </i> <%= gamenight.date.strftime("%d-%m-%Y") %> <%= gamenight.start_time.strftime("à %H:%M") %></p>
                    <p><i class="fas fa-map-pin"></i> <%= gamenight.location.address %></p>
                  </div>
                  <div>
                    <ul class="list-inline gamenight-controls">
                      <li>
                        <%= link_to gamenight_path(gamenight) do %>
                        <i class="fas fa-eye"></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to edit_gamenight_path(gamenight) do %>
                        <i class="fas fa-pencil-alt"></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to gamenight_path(gamenight), method: :delete, data: { confirm: "Vous êtes sûr ?"} do %>
                        <i class="fas fa-trash-alt"></i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </li>
              <% end %>
            <% else %>
              <li class="nill-tile">
                <p>Vous n'avez pas de gamenight à venir</p>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="tab-pane fade" id="participations" role="tabpanel" aria-labelledby="participations-tab">
          <ul class="list-unstyled">

            <% if @my_participations.length >= 1 %>
            <% @my_participations.each do |participation| %>
            <li class="participation-tile">
              <div class="participation-upvote text-center"  id="date">
                <i class="far fa-calendar-alt"></i>
                <p><%= participation.gamenight.date.strftime("%d-%m-%Y") %></p>
              </div>
              <img src="http://unsplash.it/200/120/?random" alt="" class="participation-image img-rounded">
              <div class="participation-specs">
                <div class="participation-description">
                  <div id="owner">
                    <img class="avatar1" alt="avatar1" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
                    <h3><%= participation.gamenight.boardgame.user.username %> </h3>
                    <div>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                  <%= link_to participation_path(participation) do %>
                  <div id="place">
                    <p><i class="fas fa-clock"></i> <%= participation.gamenight.start_time.strftime("%H:%M")  %></p>
                    <p><i class="fas fa-map-pin"></i> <%= participation.gamenight.location.address %></p>
                    <p class="strong"><i class="fas fa-puzzle-piece"></i> <%= participation.gamenight.boardgame.name %></p>
                  </div>
                  <% end %>
                </div>
                <div>
                  <ul class="list-inline participation-controls">
                    <li>
                      <% if participation.gamenight.date < Time.now.to_date %>
                        <%= link_to 'Noter', edit_participation_path(participation) %> <i class="fas fa-star"></i>
                      <% elsif participation.gamenight.date > Time.now.to_date %>
                        <%= link_to 'Sortir', participation_path(participation), method: :delete, data: { confirm: "Vous êtes sûr ?"} %> <i class="far fa-trash-alt"></i>
                      <% elsif (participation.gamenight.date == Time.now.to_date) && (participation.gamenight.start_time.hour - 2 > Time.now.hour) %>
                        <%= link_to 'Sortir', participation_path(participation), method: :delete, data: { confirm: "Vous êtes sûr ?"} %> <i class="far fa-trash-alt"></i>
                      <% else %>
                        <p></p>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <% end %>
            <% else %>
              <li class="nill-tile">
                <p>Vous n'avez pas de participation à venir</p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
