<div class="container">
  <h1 class="mt-4 mb-4 title">Profil de <%= @user.username %></h1>
  <div class="row">

    <!-- Profil card -->

    <div class="col-md-4 tagcloud profil">
      <div class="dashboard-profil-tile">
        <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar-profil" %>
        <% else %>
        <%= image_tag "avatar.jpg", crop: :fill, class: "avatar-profil" %>
        <% end %>
<!--         <div class="user-scoring">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div> -->
        <div class="user-details mt-2">
          <div class="specs">
            <% if @user.calculation_global_rating.nan? %>
              <h5><em>(nouveau membre)</em></h5>
            <% elsif @user.has_a_global_rating? %>
              <h3>Fiabilité : <%= @user.calculation_global_rating %>/5</h3>
            <% else %>
              <h3>(nouveau membre)</h3>
            <% end %>
          </div>
        </div>
        <div class="profil-links mt-5">
          <%= link_to 'Messages', "#", class: "link" %>
        </div>
      </div>
    </div>
<!-- end -->

<!-- Soirées -->
    <div class="col-md-8">
      <div id="profil-list">
        <h2 class="title">Ses soirées à venir</h2>
        <ul class="list-unstyled">
          <% if @user_futur_gamenights.length >= 1 %>
            <% @user_futur_gamenights.each do |gamenight| %>
              <li class="profil-gamenight-card">
                <div class="gamenight-upvote text-center" id="profil-gamenight-upvote">
                  <i class="fas fa-user-friends"></i>
                  <p><%= gamenight.boardgame.players_max %></p>
                </div>
                <% if gamenight.boardgame.photo.attached? %>
                <%= cl_image_tag gamenight.boardgame.photo.key, height: 150, width: 250, crop: :limit, class: "gamenight-image img-rounded" %>
                <% else %>
                <%= image_tag "game-card.png", height: 150, width: 150, crop: :limit, class: "gamenight-image img-rounded" %>
                <% end %>
                <div class="gamenight-description">
                  <h3><%= gamenight.boardgame.name %></h3>
                  <p><i class="far fa-calendar-alt"> </i> <%= gamenight.date.strftime("%d-%m-%Y") %> <%= gamenight.start_time.strftime("à %H:%M") %></p>
                  <p><i class="fas fa-map-pin"></i> <%= gamenight.location.address %></p>
                </div>
                <div>
                  <ul class="list-inline gamenight-controls">
                    <li>
                      <%= link_to gamenight_path(gamenight) do %>
                      <i class="fas fa-eye"></i>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </li>
            <% end %>
          <% else %>
            <li class="nill-tile-bb pt-5"><p>Rien de prévu pour l'instant</p></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<!-- end -->

<!-- Commentaires -->
  <div class="row">
    <div class="col-md-12 mt-4 mb-4">
      <div class="reviews-tile">
        <h2 class="title">Commentaires sur ses soirées</h2>
        <ul class="list-unstyled">
          <% if @user_full_gamenights.length >= 1 %>
            <% @user_full_gamenights.each do |gamenights| %>
              <% if gamenights.length >= 1 %>
              <% gamenights.each do |gamenight| %>
                <% gamenight.participations.each do |participation| %>
                    <li class="gamenight mb-1">
                      <div class="profil-review-upvote text-center border-right">
                        <% if participation.gamenight.boardgame.user.photo.attached? %>
                        <%= cl_image_tag participation.gamenight.boardgame.user.photo.key, crop: :fill, class: "avatar1" %>
                        <% else %>
                        <%= image_tag "avatar.jpg", crop: :fill, class: "avatar1" %>
                        <% end %>
                        <%= link_to participation.user.username, profil_path(participation.user) %>
                      </div>
                      <div class="profil-review-description text-left">
                        <p><%= participation.description %></p>
                      </div>
                      <div class="profil-review-rating text-center">
                        <% case participation.rating %>
                        <% when 5 %>
                          <div class="user-scoring">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </div>
                        <% when 4 %>
                          <div class="user-scoring">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                          </div>
                        <% when 3 %>
                          <div class="user-scoring">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                          </div>
                        <% when 2 %>
                            <div class="user-scoring">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                            </div>
                        <% when 1 %>
                            <div class="user-scoring">
                              <i class="fas fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                            </div>
                        <% else %>
                          <p><em>(en attente)</em></p>
                        <% end %>
                      </div>
                    </li>
                <% end %>
              <% end %>
              <% else %>
                <li class="nill-tile-bb pt-5"><p>Pas de commentaires</p></li>
              <% end %>
            <% end %>
          <% else %>
            <li class="nill-tile-bb pt-5"><p>Pas de commentaires</p></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
<!-- end -->
</div>
