<div class="container">
  <h1 class="mt-4 mb-4 title">Profil de <%= @user.username %></h1>
  <div class="row">
<!-- Profil card -->
    <div class="col-md-4 tagcloud profil">
      <div class="dashboard-profil-tile">
        <img class="avatar-profil" alt="avatar-profil" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
        <div class="user-scoring">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="user-details mt-4">
          <div class="specs">
            <!-- <h2>(note globale de <%= @global_rating %> sur 5)</h2> -->
          </div>
        </div>
        <div class="profil-links">
          <%= link_to 'Send Messages', "#", class: "link" %>
        </div>
      </div>
    </div>
<!-- end -->

<!-- Soirées -->
    <div class="tab-pane fade show active" id="gamenights" role="tabpanel" aria-labelledby="gamenights-tab">
      <h2>Ses soirées à venir</h2>
          <ul class="list-unstyled">
            <% @user_gamenights.each do |gamenights| %>
              <% gamenights.each do |gamenight| %>
                <li class="gamenight">
                  <div class="gamenight-upvote text-center">
                    <i class="fas fa-user-friends"></i>
                    <p><%= gamenight.boardgame.players_max %></p>
                  </div>
                  <img src="http://unsplash.it/200/120/?random" alt="" class="gamenight-image img-rounded">
                  <div class="gamenight-description">
                    <h3><%= gamenight.boardgame.name %></h3>
                    <p><i class="far fa-calendar-alt"> </i> <%= gamenight.date.strftime("%d-%m-%Y") %> <%= gamenight.start_time.strftime("à %H:%M") %></p>
                    <p><i class="fas fa-map-pin"></i> <%= gamenight.location.address %></p>
                  </div>
                  <div>
                    <ul class="list-inline gamenight-controls">
                      <li>
                        <%= link_to gamenight_path(gamenight) do %>
                        <i class="fas fa-eye"></i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
<!-- end -->

<!-- Commentaires -->
    <div class="tab-pane fade show active" id="gamenights" role="tabpanel" aria-labelledby="gamenights-tab">
      <h2>Commentaires sur ses soirées</h2>
      <ul class="list-unstyled">
        <% @user_gamenights.each do |gamenights| %>
          <% gamenights.each do |gamenight| %>
            <% gamenight.participations.each do |participation| %>
            <li class="gamenight">
              <div class="gamenight-upvote text-center">
                <p><%= participation.rating %></p>
              </div>
              <div class="gamenight-description">
                <h3><%= participation.description %></h3>
              </div>
            </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
<!-- end -->
  </div>
</div>

<!-- <br>
<h3>Commentaires</h3>
<% @user_gamenights.each do |gamenights| %>
  <% gamenights.each do |gamenight| %>
    <% gamenight.participations.each do |participation| %>
      <p><%= participation.rating %>
      <%= participation.description %></p>
    <% end %>
  <% end %>
<% end %> -->
