
<h1>Bonjour <%= @name %>,</h1>

<p>Nous sommes dans le regret de vous annoncer que <%= @owner.username %> a malheureusement annulé ca gamenight prévu le <%= @date %> à <%= @location %>. Ne vous laissez pas découragé par cette nouvelle et venez rechercher une nouvelle gamenight sur ludin !</p>
<div class="mb-3 mt-3 text-center">
  <%= link_to 'Trouver une gamenight', gamenights_url, class: "button-contact" %>
</div>


<p>La team de Ludin</p>
