<!-- <h1>Bonjour <%= user.username %>,</h1>

<p>Nous sommes dans le regret de vous annoncer que <%= owner %> a malheureusement annulé la gamenight prévu le <%= @gamenight.date %> au <%= @gamenight.location %>. Ne vous laissez pas découragé par cette nouvelle et recherchez dès mantenant de nouvelles gamenights !</p>
<%= link_to "Soirées à venir", gamenights_path %> -->

